* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.5s, color 0.5s; /* Adiciona transição para a cor do texto */
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
  transition: background 0.5s; /* Suaviza a transição do fundo */
}

/* Variáveis globais para temas claro e escuro */
:root {
  --text-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.02);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: #000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

/* Estilos para componentes específicos */
#profile img {
  width: 112px;
  transition: width 0.5s; /* Efeito de zoom ao alternar temas */
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: left 0.4s; /* Suaviza o movimento do botão */
}

.light #switch button {
  left: calc(100% - 32px); /* Move o botão para a direita ao ativar o tema claro */
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
  transition: outline 0.3s; /* Suaviza a transição do destaque */
}

/* Media queries para ajustes responsivos */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Importação da fonte Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap') format('woff2');
}
